body {
    padding-top: 10px;
}

main {
    padding-top: 40px;
    text-align: center;
}

.row {
    padding-bottom: 10px;
}
.row.jumbotron {
    background-color: initial;
    margin-bottom: 40px;
}

.media {
    margin-top: 40px;
    margin-bottom: 40px;
}

img.logo {
    height: 192px;
    margin-bottom: 20px;
}

img.media-object {
    height: 96px;
}

a.share-logo:hover {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 5px;
    }

    .main {
        padding-top: 20px;
        text-align: center;
    }
}
